<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785603697436-kff6b4ncftgltoav43shtlqihcjdahd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785603697436-kff6b4ncftgltoav43shtlqihcjdahd5</string>
	<key>API_KEY</key>
	<string>AIzaSyDlqaxVpI2PJdlw5YYqwHxCxoOOLGm4te4</string>
	<key>GCM_SENDER_ID</key>
	<string>785603697436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.0020727.college</string>
	<key>PROJECT_ID</key>
	<string>college-e7324</string>
	<key>STORAGE_BUCKET</key>
	<string>college-e7324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785603697436:ios:ce2788bc2e4c5acde078d9</string>
</dict>
</plist>